*{
    margin: 0px;
    text-indent: 10px;
     font-family: Arial, Helvetica, sans-serif;
    
}
body{
     background-image: linear-gradient(rgb(255, 255, 255), rgb(15, 102, 224));
}
header{
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.201);
    border-radius: 20px;
    box-shadow:  0px 0px 10px 0px black;
    padding: 0px;
    text-align: center;
}
header > h1{
    text-align: center;
    margin-bottom: 50px;
}
main{
    display: grid;
    justify-content: center;
    grid-template-columns: minmax(150px, 620px);
}
main  h2{
    font-family: initial;
}
main > aside#MATEMATICA,aside#PORTUQUES{
   
   margin-bottom: 50px;
   background-color: rgb(2, 192, 192);
   margin: 20px;
   box-shadow: 0px 0px 10px 0px black;
   border-radius: 20px;
   padding: 20px;
}
main> aside#PORTUQUES{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    background-color: rgb(174, 18, 49);
}
main> aside#PORTUQUES > h2{
    text-align: center;
    
}
main > aside#MATEMATICA{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}
main > aside#MATEMATICA > h2{
    text-align: center;
    
}